{% extends "base.html" %} {% block head %}
<style>
  .create-button {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -100px;
  }
</style>
{% endblock %} {% block start %}
<h3>Create Project</h3>

<form action="{% url 'project_create' %}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      placeholder="Enter the project title.."
      required
    />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      name="description"
      class="form-control"
      placeholder="Enter your project description.."
      required
    />
  </div>

  <div class="form-group">
    <label for="members">Members:</label>
    {% for user in users %}
    <div>
      <label>{{ user.first_name }} {{ user.last_name }}</label>
      <input type="checkbox" name="members" value="{{ user.id }}" />
      <select name="member_role_{{ user.id }}">
        <option value="1">Project Manager</option>
        <option value="2" selected>Project Member</option>
      </select>
    </div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label for="owner">Owner</label>
    <input type="checkbox" id="owner" name="owner" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary create-button">
          Create Project
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
