{% extends "base.html" %} {% block start %}
<div class="col-md-12">
  <h1>Welcome to the Issue Management System</h1>
  <p>
    Issue Management System is the agile project management tool used by teams
    to plan, track, release and support world-class software with confidence. It
    is the single source of truth for your entire development lifecycle,
    empowering autonomous teams with the context to move quickly while staying
    connected to the greater business goal. Whether used to manage simple
    projects or to power your DevOps practices, Jira Software makes it easy for
    teams to move work forward, stay aligned, and communicate in context
  </p>
</div>
{% endblock %}
