{% extends "base.html" %} {% block head%}

<style>
  .signin-button {
    background-color: green;
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 28px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: -100px;
  }
</style>

{% endblock %} {% block start %} {% for message in messages %}
<div
  class="alert alert-{{message.tags}} alert-dismissible fade show"
  role="alert"
>
  <strong style="color: #dc3545">Message:</strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<form action="/signin" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter your Registered Email Address"
      required
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter your password"
      required
    />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary signin-button">
          Login
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
