{% extends "base.html" %} {% block head %}
<style>
  .signup-button {
    background-color: blueviolet;
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -100px;
  }

  .error-message {
    color: red;
  }
</style>
{% endblock %} {% block start %}
<h3>Sign Up</h3>

<form action="/signup" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="first_name">First Name</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="form-control"
      placeholder="Enter your first name"
      required
    />
    {% if serializer_errors.first_name %}
    <p class="error-message">{{ serializer_errors.first_name.0 }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      class="form-control"
      placeholder="Enter your last name"
      required
    />
    {% if serializer_errors.last_name %}
    <p class="error-message">{{ serializer_errors.last_name.0 }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter your valid Email Address"
      required
    />
    {% if serializer_errors.email %}
    <p class="error-message">{{ serializer_errors.email.0 }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Create your password"
      required
    />
    {% if serializer_errors.password %}
    <p class="error-message">{{ serializer_errors.password.0 }}</p>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      id="password2"
      name="password2"
      class="form-control"
      placeholder="Confirm your password"
      required
    />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary signup-button">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
