{% extends "base.html" %} {% block start %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center p-3 bg-light my-2">
      <h1>Profile Information</h1>
    </div>
    <div class="col-md-6 max-auto">
      <form action="/users/profile_view" method="">
        {% csrf_token %}
        <div class="" form-group>
          <div class="col-md-6">
            <label>First name</label>
            <input
              type="text"
              class="form-control"
              name="first_name"
              value="{{users.first_name}}"
              readonly
            />
          </div>
        </div>
        <div class="" form-group>
          <div class="col-md-6">
            <label>Last name</label>
            <input
              type="text"
              class="form-control"
              name="last_name"
              value="{{users.last_name}}"
              readonly
            />
          </div>
        </div>
        <div class="" form-group>
          <div class="col-md-6">
            <label>DOB</label>
            <input
              type="date"
              class="form-control"
              name="dob"
              value="{{users.dob}}"
              readonly
            />
          </div>
        </div>

        <div class="" form-group>
          <div class="col-md-6">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              value="{{users.email}}"
              readonly
            />
          </div>
        </div>

        <div class="" form-group>
          <div class="form-group">
            <input
              type="submit"
              name="change_profile"
              value="Save Changes"
              class="btn btn-primary rounded-pill"
              style="width: 50%; margin-top: 10px"
            />
          </div>
        </div>
      </form>
      <div class="form-group">
        <button
          onclick="redirectToEditPage()"
          class="btn btn-secondary rounded-pill"
          style="width: 50%; margin-top: 10px"
        >
          Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function redirectToEditPage() {
    window.location.href = "profile_edit";
  }
</script>
{% endblock %}
