.card {
    margin-bottom: 1.5rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.677);
    }
}

.btnPrimary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btnSecondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.text-center {
    padding-left: 520px;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.select {
    padding-right: 1152px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-indent: 0px;
}
