{% extends 'base.html' %}

{% block head %}
<style>
  .text-center {
    text-align: center;
  }

  .mt-4 {
    margin-top: 4rem;
  }

  form {
    margin-top: 1rem;
  }
</style>
{% endblock %} 

{% block start %}

<div class="container mt-4">
  <h1 class="text-center">Update Story</h1>

  <div class="row mt-4">
    <div class="col-md-6">
      {% if users %}
      <form
        action="{% url 'stories:stories_update' project_id=project.id story_id=story.id %}"
        method="POST"
      >
        {% csrf_token %} 
        {% if serializer_errors %}
        <div class="alert alert-danger">
          {% for field, errors in serializer_errors.items %}
          <strong>{{ field }}:</strong> {{ errors.0 }}<br />
          {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{ story.title }}" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description">{{ story.description }}</textarea>
        </div>
        <div class="form-group">
          <label for="assignee">Assignee</label>
          <select class="form-control" id="assignee" name="assignee">
            {% for user in users %}
            <option value="{{ user.id }}" {% if user.id == story.assignee.id %}selected{% endif %}>{{ user.first_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="estimate">Estimate</label>
          <input type="text" class="form-control" id="estimate" name="estimate" value="{{ story.estimate }}" />
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" name="status">
            {% for choice in status_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 == story.status %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group">
          <label for="is_scheduled">Is Scheduled</label>
          <select class="form-control" id="is_scheduled" name="is_scheduled">
            {% for choice in schedule_choices %}
            <option value="{{ choice.0 }}" {% if choice.0 == story.is_scheduled %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
      </form>
      {% else %}
      <p style="font-weight: bold; color: red; text-align: center">
        You are not authorized to update this story.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
